$main: #35618f;

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

h1, h2 {
	font-family: $neo-bold;
}
h3, h4, h5 {
	font-family: $neo-reg;
}

p {
	font-family: $arial;
}

ul {
	list-style-type: none;
	padding: 0;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.p5 {
	padding: 0 5px;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  @include inside-pad;
}





@media only screen and (min-width: 1000px) {
  .container {
    width: 759px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    width: 1300px;
  }
}



